.active-hover{
    background-color: red;
}
.hidden {
    display: none;
}
button{
    border: none;
    color: rgb(28,45,234)
}
button:hover {
    border-radius: 40px;
    border: 4px solid rgba(237, 199, 32, 1);
    color: red
}