.header a{
margin: 10px;
}

.magenta {
    width: 700px;
    height: 100px;
    background-color: magenta;

}
.violet {
    width: 700px;
    height: 100px;
    background-color: purple;

}
.blue {
    width: 700px;
    height: 100px;
    background-color: blue;

}
.green {
    width: 700px;
    height: 100px;
    background-color: rgb(30, 212, 30);

}
.yellow {
    width: 700px;
    height: 100px;
    background-color: rgb(241, 241, 33);

}
.orange {
    width: 700px;
    height: 100px;
    background-color: orange;

}
.red {
    width: 700px;
    height: 100px;
    background-color: rgb(160, 3, 3);
}
.magenta, .violet, .blue, .green, .yellow, .orange, .red {
    color: white;
    border-radius: 50px;
}