body {
    background-color: black;
    margin: 20px;
    margin-top: 40px;
}
.contentContainer {
    display: flex;
    justify-content: start;
}
.CardContainer {
    width: 400px;
    height: 90px;
    border: 1px solid white;
    color: white;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    
}