body {
    background-color: black;
    margin: 20px;
    margin-top: 40px;
}
.contentContainer {
    display: flex;
    justify-content: start;
    position: relative;
    left: 20%;
}
.CardContainer {
    width: 400px;
    height: 90px;
    border: 2px solid rgb(229, 6, 6);
    color: white;
    display: flex;
    padding: 10px;
    justify-content: space-between;
 margin: 5px;   
}