.MissionButton {
    display: flex;
    flex-direction: column;
    
}
.MissionButtonContainer {
    justify-content: end;
}
.launch {
        border-radius: 100%;
        position: relative;
        bottom: 6px;
}
.pause {
    font-size: 12px;
}