.state {
    font-size: 5rem;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    color: red;
    font-weight: bolder;
    margin: 50px;

}

.advanceState {
   display: block;
   margin-left: 5rem;
   color: green;
   font-weight: bolder;
   font-size: 20px;
}