.testObj {
    color: red;
    width: 25vw;
    height: 5vh;
    border: 2px solid orange;
}

.testObjContainer {
    border: 5px solid yellow;
    margin: 20vh;
    display: flex;
    flex-direction: column;
}